button {
    padding: 10px;
    width: 100px;
    background-color: rgb(119, 119, 236);
    color: white;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    
    
}

#docente {
    background-color: rgb(172, 173, 173);
    border-radius: 10px;
    

}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;  /* centraliza horizontalmente */
  align-items: center;      /* centraliza verticalmente */
           
  
}